body{
/* CSS coloca estilo em tags HTML */ 

/* Configura Degradê no fundo da página */ 
	width: 100wh;
	height: 90vh;
	color: #000000;
	background: linear-gradient(170deg, #f9f9f9, #8e9d97, #69746f, #adbdb6);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}


.classe01{ 
/* Para ser usado no atributo class="" de um componente HTML. Use quantas vezes quiser
Vários elementos podem assumir o mesmo padrão */

/* Configura DIV que envolve o FORM */ 

	max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 25px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;	

}

/* Configura a resposta */
.classe01 .resposta{
    font-family: Arial, "Times New Roman", Times, serif;

}




/* Configura botão submit */
.classe01 input[type="submit"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

/* Configura HOVER do botão submit (Quando passa o mouse em cima) */
.classe01 input[type="submit"]:hover
{
    background: #109177;
}


/* Configura componentes INPUT, TEXTAREA e SELECT */
.classe01 input[type="text"],
.classe01 textarea,
.classe01 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 80%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 10px;
    
}

/* Configura componentes CHECKBOX e RADIO */
.classe01 input[type="checkbox"],
.classe01 input[type="radio"]{
	font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin: 0;
    outline: 0;
    padding: 7px;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 5px;
    margin-top: 10px;

}


/* Configura Título da Janela */
.classe01 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* Configura Número ao lado do Título */
.classe01 .numero {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

#id01{
/* Para ser usado no atributo id="" de um componente HTML. 
Usado para personalizar um determinado elemento.
Vários elementos podem assumir o mesmo padrão */
}